scipy>=1.10.1
torch>=1.11.0
deepmriprep>=0.2.0
deepbet>=1.0.2
torchreg>=0.1.3
spline-resize>=0.1.1
SplineSmooth3D>=0.1.1
nxbc>=0.2.0
pyqt6
vtk>=9.0.0
requests
--extra-index-url https://pypi.ngc.nvidia.com
